section.help-chat
  .help-chat__container-message
    aside.help-chat__container-block
  nav.help-chat__nav
    ul.help-chat__items
      li.help-chat__items-item.help-chat__container__item(data-key='discount')
        figure.help-chat__figure
          img.img-responsive(src='./icon-discount.png' alt='ícone da seção de ajuda, para descontos.')
        p.help-chat__text Descontos
      li.help-chat__items-item.help-chat__container__item(data-key='devolution')
        figure.help-chat__figure
          img.img-responsive(src='./icon-devolution.png' alt='ícone da seção de ajuda, para devoluções.')
        p.help-chat__text Devolu&ccedil;&atilde;o
      li.help-chat__items-item.help-chat__container__item(data-key='tracking')
        figure.help-chat__figure
          img.img-responsive(src='./icon-delivery.png' alt='ícone da seção de ajuda, para rastreio.')
        p.help-chat__text Rastreio
      li.help-chat__items-item.help-chat__container__item(data-key='contact')
        figure.help-chat__figure
          img.img-responsive(src='./icon-chat.png' alt='ícone da seção de ajuda, para contato.')
        p.help-chat__text Contato
  .help-chat__button.help-chat__container__item
    figure.help-chat__figure
      img.img-responsive(src='./icon-help.png' alt='ícone da seção de ajuda.')
    p.help-chat__text Ajuda
